[Options]
UseInitBeep=1
Log=0
Console=0
DebugMode=0
InternetDatabaseUrl=http://www.x360ce.com/webservices/x360ce.asmx
InternetFeatures=1
InternetAutoload=1
AllowOnlyOneCopy=1
Version=1

[InputHook]
HookMode=1

[Mappings]
<% controllers.each_with_index do |c, i|
%>PAD<%= i + 1 %>=<%= c.name %>
<% end
%>
<% controllers.each do |c|
%>[<%= c.name %>]
<%= c.config %>
<% end %>
